
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LineLabels</title>
</head>
<body>
    <div> 
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        @using Highsoft.Web.Mvc.Charts

        
    </div>
</body>
</html>
