@using ChartsMix.Models
@model Group
<div id="barGroupTabs" class="tab-content padding-10">
    <div class="tab-pane fade in active" id="bar1">
        <div>
            <select multiple style="width:100%" id="ddlBarGroups" class="select2">
                @Html.Raw(Helpers.FormGroups())
            </select>
        </div>
        <br />
        <div class="row" id="informationMessage">
        </div>
    </div>

    <div class="tab-pane fade" id="bar2">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <input id="BarGroupName" type="text" class="form-control" name="BarGroupName" placeholder="Group Name" />
                </div>
                <div class="col-md-6">
                    <input class="btn btn-primary btn-sm" type="button" value="Add" onclick="AddBarGroup()" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tree col-md-12 smart-form">
                <ul>
                    @Html.Raw(Helpers.FormTreeView(Model.TreeRoot, "groupBar"))
                </ul>
            </div>
        </div>
    </div>
</div>

<script>

    function AddBarGroup() {
        var model = {};
        model.Name = $('#BarGroupName').val();
        model.Ids = [];
        $('input[name=groupBarIds]:checked').each(function () {
            model.Ids.push($(this).attr('value'));
        });
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("AddGroup", "Home")',
            data: model,
            dataType: "json",
            traditional: true,
            success: function (data) {
                $('#ddlBarGroups').append($("<option></option>").attr("value", data).text($('#BarGroupName').val()));
                $('#ddlGroups').append($("<option></option>").attr("value", data).text($('#BarGroupName').val()));
                messageSuccess("Group " + $('#BarGroupName').val() + " has been added.");
                $('#bar1toggle').click();
            },
            error: function (data, dates) {
                $('#informationMessage').append("<div class='alert alert-danger col-md-8 col-md-offset-2 fade in'><button class='close' data-dismiss='alert'>×</button><i class='fa-fw fa fa-check'></i><strong>Success</strong> Group " + $('#GroupName').val() + " hasn't been added.</div>")
                $('#bar1toggle').click();
            }
        });
    }

</script>


